.AccountPage{
  background:rgb(35, 35, 35) ;
  min-height: 100vh;
}

.container-account{

  margin-top: 50px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
  background: white;
  border-radius: 0px;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
